flows.json
[{"id":"1763a520.cec113","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3037fbc1.91dc94","type":"http request","z":"1763a520.cec113","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://orion.default.svc.cluster.local:1026/v2/entities","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":320,"wires":[["f2153a6a.4af59"]]},{"id":"713cf313.cf7ab4","type":"inject","z":"1763a520.cec113","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":320,"wires":[["3037fbc1.91dc94"]]},{"id":"f2153a6a.4af59","type":"debug","z":"1763a520.cec113","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":320,"wires":[]},{"id":"10d29fa9.97b3f8","type":"http request","z":"1763a520.cec113","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://orion.default.svc.cluster.local:1026/v2/entities","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":380,"wires":[["cd8bb224.c498c8"]]},{"id":"33f5f3a7.33a7b4","type":"inject","z":"1763a520.cec113","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Room1","payloadType":"str","x":270,"y":380,"wires":[["5badb9e6.6a0018"]]},{"id":"cd8bb224.c498c8","type":"debug","z":"1763a520.cec113","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":380,"wires":[]},{"id":"5badb9e6.6a0018","type":"function","z":"1763a520.cec113","name":"","func":"\nmsg.payload={\"id\":\"Room1\",\n    \"type\":\"Room\",\n    \"temperature\":{\"value\":23,\"type\":\"Float\"},\n    \"pressure\":{\"value\":720,\"type\":\"Integer\"}\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":380,"wires":[["10d29fa9.97b3f8"]]},{"id":"30c43599.b708f2","type":"inject","z":"1763a520.cec113","name":"Person","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Person","payloadType":"str","x":270,"y":440,"wires":[["d4c66e61.a141b8"]]},{"id":"d4c66e61.a141b8","type":"function","z":"1763a520.cec113","name":"","func":"\nmsg.payload={\n    \"id\":\"Persona1\",\n    \"type\":\"Persona\",\n    \"nombre\":{\n        \"type\":\"String\",\n        \"value\":\"Manuel Ruiz Ruiz\"},\n    \"edad\":{\n        \"type\":\"Integer\",\n        \"value\":21},\n    \"lat\":{\n        \"type\":\"Float\",\n        \"value\":1234},\n    \"lon\":{\n        \"type\":\"Float\",\n        \"value\":5678},\n    \"profesion\":{\n        \"type\":\"String\",\n        \"value\":\"estudiante\"},\n    \"sueldo\":{\n        \"type\":\"Float\",\n        \"value\":0},\n    \"pulso\":{\n        \"type\":\"Float\",\n        \"value\":60},\n    \"temperatura\":{\n        \"type\":\"Float\",\n        \"value\":30},\n    \"enfermedad\":{\n        \"type\":\"String\",\n        \"value\":\"sano\"},\n    }\n    \n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":440,"wires":[["10d29fa9.97b3f8"]]}]