mounts/nodered/.flows.json.backup
[{"id":"1763a520.cec113","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ee2552c8.780278","type":"MySQLdatabase","name":"mysql-read","host":"mysql-read.default.svc.cluster.local","port":"3306","db":"test","tz":"GTM+1","charset":"latin1_swedish_ci"},{"id":"3037fbc1.91dc94","type":"http request","z":"1763a520.cec113","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://orion.default.svc.cluster.local:1026/v2/entities","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":320,"wires":[["f2153a6a.4af59"]]},{"id":"713cf313.cf7ab4","type":"inject","z":"1763a520.cec113","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":320,"wires":[["3037fbc1.91dc94"]]},{"id":"f2153a6a.4af59","type":"debug","z":"1763a520.cec113","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":320,"wires":[]},{"id":"10d29fa9.97b3f8","type":"http request","z":"1763a520.cec113","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://orion.default.svc.cluster.local:1026/v2/entities","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":380,"wires":[["cd8bb224.c498c8"]]},{"id":"33f5f3a7.33a7b4","type":"inject","z":"1763a520.cec113","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Room1","payloadType":"str","x":270,"y":380,"wires":[["5badb9e6.6a0018"]]},{"id":"cd8bb224.c498c8","type":"debug","z":"1763a520.cec113","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":380,"wires":[]},{"id":"5badb9e6.6a0018","type":"function","z":"1763a520.cec113","name":"","func":"\nmsg.payload={\"id\":\"Room1\",\n    \"type\":\"Room\",\n    \"temperature\":{\"value\":23,\"type\":\"Float\"},\n    \"pressure\":{\"value\":720,\"type\":\"Integer\"}\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":380,"wires":[["10d29fa9.97b3f8"]]},{"id":"30c43599.b708f2","type":"inject","z":"1763a520.cec113","name":"Person","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Person","payloadType":"str","x":270,"y":440,"wires":[["d4c66e61.a141b8"]]},{"id":"d4c66e61.a141b8","type":"function","z":"1763a520.cec113","name":"","func":"\nmsg.payload={\n    \"id\":\"Persona1\",\n    \"type\":\"Persona\",\n    \"nombre\":{\n        \"type\":\"String\",\n        \"value\":\"Manuel Ruiz Ruiz\"},\n    \"edad\":{\n        \"type\":\"Integer\",\n        \"value\":21},\n    \"lat\":{\n        \"type\":\"Float\",\n        \"value\":1234},\n    \"lon\":{\n        \"type\":\"Float\",\n        \"value\":5678},\n    \"profesion\":{\n        \"type\":\"String\",\n        \"value\":\"estudiante\"},\n    \"sueldo\":{\n        \"type\":\"Float\",\n        \"value\":0},\n    \"pulso\":{\n        \"type\":\"Float\",\n        \"value\":60},\n    \"temperatura\":{\n        \"type\":\"Float\",\n        \"value\":30},\n    \"enfermedad\":{\n        \"type\":\"String\",\n        \"value\":\"sano\"},\n    }\n    \n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":440,"wires":[["10d29fa9.97b3f8"]]},{"id":"25d7322a.765a3e","type":"http in","z":"1763a520.cec113","name":"GET /fiware","url":"/fiware","method":"get","upload":false,"swaggerDoc":"","x":250,"y":600,"wires":[["b3999659.b0817","f9274bc6.43d0e"]]},{"id":"6b67090f.977778","type":"comment","z":"1763a520.cec113","name":"Mando los parámetros a api-rest con el GET","info":"","x":350,"y":540,"wires":[]},{"id":"b3999659.b0817","type":"debug","z":"1763a520.cec113","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":660,"wires":[]},{"id":"10d39919.8fdc2f","type":"http response","z":"1763a520.cec113","name":"","statusCode":"","headers":{},"x":610,"y":600,"wires":[]},{"id":"f9274bc6.43d0e","type":"template","z":"1763a520.cec113","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hola! Por que no pruebas a utilizar POST?","output":"str","x":440,"y":600,"wires":[["10d39919.8fdc2f"]]},{"id":"bd884a9a.4061b","type":"http in","z":"1763a520.cec113","name":"POST /fiware","url":"/fiware","method":"post","upload":false,"swaggerDoc":"","x":250,"y":760,"wires":[["a2088a4d.b6627"]]},{"id":"c16aa707.09cc","type":"http response","z":"1763a520.cec113","name":"","statusCode":"","headers":{},"x":890,"y":760,"wires":[]},{"id":"c3055bc1.67fdd8","type":"http request","z":"1763a520.cec113","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api-rest.default.svc.cluster.local:8080?{{{query}}}","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":760,"wires":[["c16aa707.09cc"]]},{"id":"a2088a4d.b6627","type":"function","z":"1763a520.cec113","name":"parse parameters","func":"var newmsg  = {query:\"\"};\n\nfor (const key in msg.req.body){\n    newmsg.query=newmsg.query+key+\"=\"+msg.req.body[key]+\"&\"\n}\n\nconsole.log(newmsg.query)\n\nreturn newmsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":760,"wires":[["c3055bc1.67fdd8","7cf30700.5bc978"]]},{"id":"e95c6faa.ab2e1","type":"http request","z":"1763a520.cec113","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://query.yahooapis.com/v1/public/yql?q={{{query}}}&format=json","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":880,"wires":[[]]},{"id":"7cf30700.5bc978","type":"debug","z":"1763a520.cec113","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":820,"wires":[]},{"id":"637d3c55.eb3084","type":"inject","z":"1763a520.cec113","name":"query parameter","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"select astronomy.sunset from weather.forecast where woeid in (select woeid from geo.places(1) where text=\"maui, hi\")","payloadType":"str","x":280,"y":880,"wires":[["b001d489.d8f818"]]},{"id":"b001d489.d8f818","type":"change","z":"1763a520.cec113","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":880,"wires":[["e95c6faa.ab2e1"]]}]