mounts/nodered/flows.json
[{"id":"1763a520.cec113","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ee2552c8.780278","type":"MySQLdatabase","name":"mysql-read","host":"mysql-read.default.svc.cluster.local","port":"3306","db":"test","tz":"GTM+1","charset":"latin1_swedish_ci"},{"id":"5f7e35da.4be3b4","type":"Context-Broker","name":"orion","endpoint":"http://orion.default.svc.cluster.local","service":"","idmEndpoint":""},{"id":"3037fbc1.91dc94","type":"http request","z":"1763a520.cec113","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://orion.default.svc.cluster.local:1026/v2/entities","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":320,"wires":[["f2153a6a.4af59"]]},{"id":"713cf313.cf7ab4","type":"inject","z":"1763a520.cec113","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":320,"wires":[["3037fbc1.91dc94"]]},{"id":"f2153a6a.4af59","type":"debug","z":"1763a520.cec113","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":320,"wires":[]},{"id":"10d29fa9.97b3f8","type":"http request","z":"1763a520.cec113","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://orion.default.svc.cluster.local:1026/v2/entities","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":380,"wires":[["cd8bb224.c498c8"]]},{"id":"33f5f3a7.33a7b4","type":"inject","z":"1763a520.cec113","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Room1","payloadType":"str","x":270,"y":380,"wires":[["5badb9e6.6a0018"]]},{"id":"cd8bb224.c498c8","type":"debug","z":"1763a520.cec113","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":380,"wires":[]},{"id":"5badb9e6.6a0018","type":"function","z":"1763a520.cec113","name":"","func":"\nmsg.payload={\"id\":\"Room1\",\n    \"type\":\"Room\",\n    \"temperature\":{\"value\":23,\"type\":\"Float\"},\n    \"pressure\":{\"value\":720,\"type\":\"Integer\"}\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":380,"wires":[["10d29fa9.97b3f8"]]},{"id":"30c43599.b708f2","type":"inject","z":"1763a520.cec113","name":"Person","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Person","payloadType":"str","x":270,"y":440,"wires":[["d4c66e61.a141b8"]]},{"id":"d4c66e61.a141b8","type":"function","z":"1763a520.cec113","name":"","func":"\nmsg.payload={\n    \"id\":\"Persona1\",\n    \"type\":\"Persona\",\n    \"nombre\":{\n        \"type\":\"String\",\n        \"value\":\"Manuel Ruiz Ruiz\"},\n    \"edad\":{\n        \"type\":\"Integer\",\n        \"value\":21},\n    \"lat\":{\n        \"type\":\"Float\",\n        \"value\":1234},\n    \"lon\":{\n        \"type\":\"Float\",\n        \"value\":5678},\n    \"profesion\":{\n        \"type\":\"String\",\n        \"value\":\"estudiante\"},\n    \"sueldo\":{\n        \"type\":\"Float\",\n        \"value\":0},\n    \"pulso\":{\n        \"type\":\"Float\",\n        \"value\":60},\n    \"temperatura\":{\n        \"type\":\"Float\",\n        \"value\":30},\n    \"enfermedad\":{\n        \"type\":\"String\",\n        \"value\":\"sano\"},\n    }\n    \n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":440,"wires":[["10d29fa9.97b3f8"]]},{"id":"25d7322a.765a3e","type":"http in","z":"1763a520.cec113","name":"GET /fiware","url":"/fiware","method":"get","upload":false,"swaggerDoc":"","x":250,"y":620,"wires":[["b3999659.b0817","f9274bc6.43d0e"]]},{"id":"6b67090f.977778","type":"comment","z":"1763a520.cec113","name":"FIWARE","info":"","x":240,"y":540,"wires":[]},{"id":"b3999659.b0817","type":"debug","z":"1763a520.cec113","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":680,"wires":[]},{"id":"10d39919.8fdc2f","type":"http response","z":"1763a520.cec113","name":"","statusCode":"","headers":{},"x":610,"y":620,"wires":[]},{"id":"f9274bc6.43d0e","type":"template","z":"1763a520.cec113","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hola! Por que no pruebas a utilizar POST?","output":"str","x":440,"y":620,"wires":[["10d39919.8fdc2f"]]},{"id":"bd884a9a.4061b","type":"http in","z":"1763a520.cec113","name":"POST /fiware","url":"/fiware","method":"post","upload":false,"swaggerDoc":"","x":250,"y":800,"wires":[["a2088a4d.b6627"]]},{"id":"c16aa707.09cc","type":"http response","z":"1763a520.cec113","name":"","statusCode":"","headers":{},"x":1010,"y":940,"wires":[]},{"id":"c3055bc1.67fdd8","type":"http request","z":"1763a520.cec113","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api-rest.default.svc.cluster.local:8080/?{{{parsedQuery}}}","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":800,"wires":[["48c63209.d69224","8a019f3e.ac4038"]]},{"id":"a2088a4d.b6627","type":"function","z":"1763a520.cec113","name":"parse parameters","func":"msg.parsedQuery=\"\"\n\nfor (const key in msg.req.body){\n    msg.parsedQuery=msg.parsedQuery+key+\"=\"+msg.req.body[key]+\"&\"\n}\n\nconsole.log(msg.parsedQuery)\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":800,"wires":[["c3055bc1.67fdd8"]]},{"id":"48c63209.d69224","type":"debug","z":"1763a520.cec113","name":"Respuesta api-rest","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":800,"wires":[]},{"id":"8a019f3e.ac4038","type":"function","z":"1763a520.cec113","name":"parse to fiware entities","func":"//Comprobamos si la respuesta ha tenido exito o nos ha devuelto un fallo\nif(msg.payload === 'string'){\n    //La respuesta ha fallado, devolvemos respuesta\n    return msg\n}\n\n//Comprobamos que tipo de datos se han devuelto\n//Dividimos las entidades en 3 tipos, Person, AnonPerson, GroupOfPeople\n\nvar tipo;\n\nif(msg.payload[0].hasOwnProperty('count')){\n    //Se han devuelto grupos de personas\n    tipo = 'GroupOfPeople'\n    \n}else if(msg.payload[0].hasOwnProperty('nombre')){\n    //Se ha devuelto Person o AnonPerson\n    \n    if(msg.payload[0].name == '*'){\n        //se ha devuelto persona anonimizada\n        tipo = 'AnonPerson'\n    }else{\n        //se ha devuelto persona\n        tipo = 'Person'\n    }\n}\n\n//Creamos las entidades a partir del json recibido\n\n/*msg.payload={\"id\":\"Room1\",\n    \"type\":\"Room\",\n    \"temperature\":{\"value\":23,\"type\":\"Float\"},\n    \"pressure\":{\"value\":720,\"type\":\"Integer\"}\n}*/\n\nvar array = []\n\nswitch (tipo) {\n  case 'Person':\n      //para todos los objetos dentro del json\n      \n\n      \n      \n    break;\n  case 'AnonPerson':\n    break;\n  case 'GroupOfPeople':\n      \n      var truePayload = msg.payload\n      \n    for (var key in truePayload)\n    {\n        \n        for(var keyj in truePayload[key])\n        {\n            truePayload[key][keyj] = {\n                type: typeof truePayload[key][keyj],\n                value:truePayload[key][keyj]}\n            \n        }\n        \n        truePayload[key].type = 'GroupOfPeople'\n        truePayload[key].id = 'GroupOfPeople'+key\n        //Tendriamos que arreglar el id de alguna forma\n       \n       array.push(truePayload[key])\n    }\n      \n    break;\n  default:\n    break;\n}\n\nanswer = {\"actionType\": \"APPEND\",\n  \"entities\": array}\n\nmsg.payload = answer;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":940,"wires":[["1471d534.14c2ab","119fe11b.7de647"]]},{"id":"1471d534.14c2ab","type":"debug","z":"1763a520.cec113","name":"Our Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":1020,"wires":[]},{"id":"119fe11b.7de647","type":"http request","z":"1763a520.cec113","name":"Post various entities","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://orion.default.svc.cluster.local:1026/v2/op/update","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":940,"wires":[["c16aa707.09cc","9b12e4d8.414fa8"]]},{"id":"9b12e4d8.414fa8","type":"debug","z":"1763a520.cec113","name":"Answer from fiware","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":1020,"wires":[]}]